.strong
{
    font-weight: bold;
}

.ui-icon-map
{
    background-image: url('images/wikipedia-icon.png') !important;
}

.nobold
{
    font-weight: lighter;
}

.nodisplay
{
    display: none;
}

.ui-field-contain
{
    padding-top: 0 !important;
}

.ui-icon-arrow-r
{
    background: none !important;
}

.ui-btn-up-b 
{
    background: url('../images/wikipedia-icon.png') !important;
    border: 0 !important;
}

.ui-li-link-alt .ui-btn
{
    right: 4px !important;
    top: 46% !important;
}

.ui-btn-icon-notext
{
    width: 32px !important;
    height: 30px !important;
}

.ui-btn.ui-btn-up-b.ui-btn-icon-notext.ui-btn-corner-all.ui-shadow
{
    border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
}

p .div.ui-slider
{
    width: 90% !important;
}

h4
{
    margin-top: 10px;
}

.grey-bg
{
    position: absolute;
    bottom: 0;
    background-color:#f0f0f0;
    border-top: 1px solid #a6d7f7;
    margin-left: -15px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

#summary
{
    font-size: 18px !important;
}

.grey-bg-2
{
    background-color:#f0f0f0;
    border-top: 1px solid #a6d7f7;
    margin-left: -15px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.margin-10.bigtext.ui-title
{
    margin: 10px !important;
}

.ui-bar-b
{
    background: #79aac7 !important;
    text-shadow: 0 2px 1px #254F7A !important;
}

.link-blue 
{
    color:#c3e3f7 !important;
    box-shadow: 1px 1px 30px 10px #ccc;
}

.rel
{
    position: relative;
}

.bigtext
{
    font-size: 21px !important;
}

.headertext
{
    font-family: Times New Roman CYR;
    position: relative;
    z-index: 1;
}

.bigger
{
    font-size: 28px;
}

.aligncenter
{
    text-align:center !important;
}

#entryForm
{
    margin-top: 40px !important;
}

.ui-li-heading,.ui-li-desc,.ui-li-aside
{
    white-space: normal !important;
}

.ui-body-c, .ui-dialog.ui-overlay-c
{
    background: White !important;
}

.ui-title
{
    margin: .6em 85px .8em !important;
}

.thumb
{
    margin: 7px;
    margin-bottom: 0;
    -webkit-border-radius: 4px !important;
    border-radius: 4px !important;
}

.clear
{
    clear: both;
}

.thumb2
{
    margin-right: 7px;
    margin-bottom: 0px;
    -webkit-border-radius: 4px !important;
    border-radius: 4px !important;
}

.left
{
    float:left;
    clear: both;
}

.margin-top-40
{
    margin-top: 40px !important;
}

.classHeader{
height:10% !important;
}

.classFooter{
height:10% !important;
}

#map_canvas{
padding-top:10%;
padding-bottom:10%;
height:auto;
position:absolute;
width:100%;
height:65.5%;
max-height:1600px;
overflow:hidden;
display:block;
}

